.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vw;
  padding-left: 5vw;
  padding-right: 15vw;

  .menu {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4vw;
    padding: 40px 40px 40px 40px;
    background-color: hwb(49 26% 21% / 0.3);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888;

    .group-info {
      font-size: small;
      text-align: center;
    }
  }

  .content {
    width: 40vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
  }
}
.menu :hover {
  transform: scale(1.1);
}
