.container {
  width: 90vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile {
    width: 500px;
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 40px;
  }
}
