.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vw;
  padding-left: 5vw;
  padding-right: 15vw;

  .quiz-menu {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4vw;
    border-radius: 15px;
    padding: 40px 40px 40px 40px;
    background-color: hwb(49 26% 21% / 0.3);
    border: 1px solid;
    box-shadow: 10px 10px 8px #888888;
  }
}
