.show-all-results {
  background-color: hwb(49 26% 21% / 0.3);
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
  padding: 40px 40px 40px 40px;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
