.quiz-title {
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 40px 40px 40px;
  background-color: hwb(49 26% 21% / 0.3);
  border: 1px solid;
  box-shadow: 10px 10px 8px #888888;
}
