@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  font-family: "Alegreya", serif;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
  padding: 40px;
  background-color: hwb(49 26% 21% / 0.3);

  .questions {
    margin-top: 5vh;
    border: 1px black solid;
    width: 25vw;
    font-size: large;
    margin-bottom: 3vh;
  }

  .points-correct {
    color: green;
  }
}
