.groups-container {
  width: 90vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .create-group {
    padding: 20px;
  }

  .join-group {
    padding: 20px;
  }
  .groups {
    width: 50vw;
    height: auto;
    padding-left: 10vw;
    padding-top: 20px;
    border-color: red;
    border: solid;
    display: inline;
  }
}
