.question {
  margin-top: 5vh;
  border: 1px black solid;
  width: 25vw;
  align-items: center;
  text-align: center;
  font-size: large;
  margin-bottom: 3vh;

  .question-answers {
    justify-content: space-between;
  }
}
