.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
  flex-direction: column;
  border-radius: 15px;
  gap: 10px;
  background-color: hwb(49 26% 21% / 0.3);
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
  padding: 40px 40px 40px 40px;
}
