.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
  padding: 50px 50px 50px 50px;
  background-color: hwb(49 26% 21% / 0.3);
  border: 1px solid;
  box-shadow: 10px 10px 8px #888888;
}
