.quiz-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3vw;
  padding-left: 5vw;
  padding-right: 15vw;
  height: 30vh;

  .buttons {
    width: 40vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
  }
}
